name: Scheduled Keep-Alive Ping

on:
  schedule:
    # Runs every 12 minutes
    - cron: '*/12 * * * *'
  workflow_dispatch: # Allows manual testing

jobs:
   ping:
      runs-on: ubuntu-latest
      steps:
        - name: Send Request
          run: |
            curl -I -s -H "User-Agent: GitHubAction-KeepAlive" ${{ secrets.TARGET_URL }}

